# General:
*.log
IgnoreAssets/

# Visual Studio:
.vs/
bin/
obj/
ExportedObj/
*.user
*.userprefs
*.lock

# Unity:
Temp/
Obj/
Logs/
Library/

# Visual Studio (Unity project only):
TOOLS/Unity2DIV/*.csproj
TOOLS/Unity2DIV/*.sln

# OS generated:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db